body{
    display:flex;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    width: 100%;
    max-width: 340px;

}
.card{
    background-color: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.avatar{
    width: 18%;
    height: 18%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
   
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.location{
    color: #6b7280;
    margin: 0.5rem 0;
}
.bio{
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: #374151;
}
.bio-link{
    width: 340px;
    max-width: 80%;
    height: auto;
    overflow: hidden;
}
ul{
    
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height:auto;
  
}
li{
    min-height: 45px;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc */
     /* hoặc bất kỳ chiều cao cụ thể nào bạn muốn */
    background-color: #e0f2fe;
    border-radius: 8px;
    margin: 8px 0;
}
.bio-link__list a {
    text-decoration: none;
    color: rgb(70, 209, 219);
    font-weight: 600;


  }
  
  .bio-link__list a:hover {
    text-decoration: underline; /* nếu muốn có hiệu ứng khi hover */
    color: #007bff; /* hoặc đổi màu khi hover */
    font-weight: bolder;
    
  }
  a {
    text-decoration: none;
    
    width: 100%;  /* Đảm bảo a chiếm hết chiều rộng của li */
    height: 100%; /* Đảm bảo a chiếm hết chiều cao của li */
    display: flex;
    justify-content: center;
    align-items: center;
}
li:hover{
    background-color: aquamarine;
}
/* .flip-card {
    perspective: 1000px;
    height: 45px;
    position: relative;
    border-radius: 8px;
  } */
  
  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-inner {
    transform: rotateY(180deg);
  }
  
  .flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    background-color: #e0f2fe;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-back {
    transform: rotateY(180deg);
    background-color: #ffe082;
  }
  

